# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Expo
.expo/
dist/
web-build/
dev-client-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Node
node_modules/
.npm/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env
.env.local

# OS Files
.DS_Store
Thumbs.db
